/* table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
} */

/* q#3 */

/* .counter-container {
    text-align: center;
    margin-top: 50px;
}
.counter {
    font-size: 48px;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
} */




